.App {
  text-align: center;
  padding: 50px;
}

p {
  margin: 0;
  text-align: start;
}

.name {
  display: flex;
  align-items: center;
}

.name:hover {
  cursor: pointer;
}

.nametext {
  font-size: 24px;
  margin-right: 20px;
  color: #4428b1;
}

input {
  font-size: 24px;
  padding: 10px 15px;
  border: 3px solid black;
  border-radius: 10px;
}

.numberName {
  font-size: 29px;
  text-align: start;
  padding-top: 3px;
  color: #589c76;
}

input {
  outline: none;
}

.code {
  width: 100%;
}

.codeNumber {
  margin-right: 10px;
}